<div id="edit" class="page-layout simple left-sidenav inner-sidenav">
    <!-- HEADER -->

<div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div form-head-ico-title layout="row" layout-align="start center"></div>  
        
    </div>
        

    <!-- / HEADER -->

    

    <!-- CONTENT -->
    <div class="content" md-background-bg layout="row"  ms-scroll>

        <md-sidenav class="sidenav main-sidenav md-white-bg" md-is-locked-open="$mdMedia('gt-md')" id="sidenav" md-component-id="sidenav" ms-scroll
                    ms-sidenav-helper>
            
            

            <div class="ng-scope layout-align-center-center layout-row sidehead">
                <h3>Du</h3>
            </div>
            <md-content class="content">
                <md-datepicker ng-model="filters.dateFrom" ng-change="refresh()" md-placeholder="Enter date"></md-datepicker>
                
            </md-content>
            <div class="ng-scope layout-align-center-center layout-row sidehead">
                <h3>Au</h3>
            </div>
            <md-content class="content">
                <md-datepicker ng-model="filters.dateTo" ng-change="refresh()" md-placeholder="Enter date"></md-datepicker>
                
            </md-content>
            <!-- SIDENAV HEADER -->
            <div class=" ng-scope layout-align-center-center layout-row sidehead">
                <h3>Produits</h3>
            </div>
            <!-- / SIDENAV HEADER -->

            <!-- SIDENAV CONTENT -->
            <md-content class="content">

                <md-chips ng-model="filters.selectedItems" md-autocomplete-snap 
              md-require-match="filters.autocompleteDemoRequireMatch" md-on-add="refresh()"  md-on-remove="refresh()" >
                <md-autocomplete
                    md-selected-item="filters.selectedItem" 
                    md-selected-item-change="filters.selectedItemChange(item)"
                    md-search-text="filters.searchText"
                    md-items="item in querySearch(filters.searchText)"
                    md-item-text="item.lib"
                    placeholder="Premiers charactères...">
                    <span md-highlight-text="filters.searchText">{{item.lib}} :: {{item.type}}</span>
                </md-autocomplete>
                <md-chip-template tag-bg item="$chip">
                    <span>
                    {{$chip.lib}}
                    </span>
                </md-chip-template>
                </md-chips>


                <br/>
            </md-content>
            <!-- / SIDENAV CONTENT -->

        </md-sidenav>

        <md-content class="content" style="width:100%;" ms-scroll>
            <div class="widget-group" layout="row" style="width:100%;" >
                <ms-widget layout="row"  style="width:100%;">
                    <ms-widget-front class="white-bg">
                        <div class="ph-16 border-bottom" layout="row" layout-align="space-between center">
                            <div class="h3 widget-head">Prévisions récoltes</div>
                            <div>
                                <span class="cLines-groupMode">Grouper par </span>
                                <md-select class="cLines-groupMode" ng-model="vm.groupMode" ng-change="refresh()">
                                    <md-option value="d">jour</md-option>
                                    <md-option value="w" ng-selected="true">semaine</md-option>
                                    <md-option value="m">mois</md-option>
                                </md-select>
                                 <md-button class="md-icon-button md-primary" ng-click="export(1)" aria-label="Export">
                                    <md-tooltip>Exporter vers excel</md-tooltip>
                                    <md-icon md-font-icon="icon-export"></md-icon>
                                </md-button>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div class="p-16">
                            <canvas id="bar"  height="300" 
                        width="400" class="chart chart-bar" 
                                chart-data="cLines.data" chart-labels="cLines.labels"  chart-options="cLines.options" 
                                chart-series="cLines.series" chart-colors="cLines.colors" ></canvas>
                        </div>
                    </ms-widget-front>
                </ms-widget>
            </div>
            <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- WIDGET 6 -->
                        <ms-widget layout="column" flex="50"  flex-xs="100">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                
                                <div class="ph-16 border-bottom" layout="row" layout-align="space-between center">
                            <div class="h3 widget-head">Cumuls par produit</div>
                            <div>
                                <md-button class="md-icon-button md-primary" ng-click="export(2)" aria-label="Export">
                                    <md-tooltip>Exporter vers excel</md-tooltip>
                                    <md-icon md-font-icon="icon-export"></md-icon>
                                </md-button>
                            </div>
                        </div>
                        <md-divider></md-divider>
                                <div class="p-16">
                                    <canvas id="donut" style="height:100%;" class="chart chart-doughnut" chart-options="cDonut.options"  chart-series="cDonut.series"  chart-legend="true"  
                                chart-data="cDonut.data" chart-labels="cDonut.labels" chart-colors="cDonut.colors"></canvas>
                                </div>


                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 6 -->

                        <!-- WIDGET 7 -->
                        <ms-widget layout="column" flex="50"  flex-xs="100">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
<div class="ph-16 border-bottom" layout="row" layout-align="space-between center">
                            <div class="h3 widget-head">Prochaines récoltes</div>
                            <div>
                                <md-button class="md-icon-button md-primary" ng-click="export(3)" aria-label="Export">
                                    <md-tooltip>Exporter vers excel</md-tooltip>
                                    <md-icon md-font-icon="icon-export"></md-icon>
                                </md-button>
                            </div>
                        </div>
                                    
                                    <md-divider></md-divider>
                                    
                                    <!--<md-list class="p-16" ms-scroll style="overflow:hidden;">

                                        <md-list-item class="md-3-line" ng-repeat="sp in sortedPlanifs" ng-click="null">
                                        <div class="md-list-item-text" layout="column">
                                            <h3>{{sp.produitLib}}</h3>
                                            <h4>{{sp._id.day + "-" + sp._id.month + "-" + sp._id.year}}</h4>
                                            <p>{{sp.count}} kg(s)</p>
                                        </div>
                                        </md-list-item>
                                    </md-list>-->
                                    
<md-content ms-scroll>
                                <div class="simple-table-container scrollable" ms-responsive-table  >
                                    <table class="simple">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Date
                                                </th>
                                                <th>
                                                    Produit
                                                </th>
                                                <th>
                                                    Quantité
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="sp in sortedPlanifs">
                                                <td>
                                                    <span>
                                                        {{sp._id.day + "-" + sp._id.month + "-" + sp._id.year}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="text-boxed" style="background-color:{{sp.bgColor}};">
                                                        {{sp.produitLib}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span>
                                                        {{sp.count}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
</md-content>


                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 7 -->

                    </div>
                    <!-- / WIDGET GROUP -->
            <!--<canvas id="bar" style="height:200px;" class="chart chart-bar"  
                colours="vm.barChart.colors" chart-data="vm.barChart.data" 
                chart-labels="vm.barChart.labels" chart-series="vm.barChart.series"></canvas>
                <nvd3 options="vm.options"  data="vm.data">
                </nvd3>-->
        </md-content>
    </div>
    <!-- / CONTENT -->
</div>