<md-content flex layout-fill layout="column" style="overflow:hidden;">
    <div style="display:block;height:50px;padding-top:8px;">         
        <button style="float:right;" class="md-button md-primary" ng-click="showPopPercent($event)" type="button" aria-label="Percent">
            Appliquer +/-
            <md-tooltip>Appliquer un pourcentage à la sélection</md-tooltip>
            <md-icon md-font-icon="icon-percent"></md-icon>
        </button>
        <button style="float:right;" class="md-button md-primary"  type="button"  ng-click="export(3)" aria-label="Export">
                        Exporter
                <md-tooltip>Exporter vers excel</md-tooltip>
            <md-icon md-font-icon="icon-export"></md-icon>
        </button>
    </div>
    <div id="grid1"  ui-grid-pagination layout-fill ui-grid="gridPlanifOptions"  class="grid"></div>
</md-content>