<md-dialog class="rule-dialog" style="width:500px;">
  <form ng-cloak>
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <h2>Ajout/maj ligne récolte</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="onCancel()">
          <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div layout-gt-sm="row">
        <md-input-container class="md-inline" flex>
          <label>Semaine</label>
          <md-select ng-model="item.semaine">
            <md-option ng-value="w" ng-repeat="w in dialog.weeks">
                {{w}}    
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-inline" flex>
          <label>Année</label>
          <md-select ng-model="item.anne">
            <md-option ng-value="a" ng-repeat="a in dialog.years">
                {{a}}    
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-inline" flex>
        <div class="md-inline"  class="md-inline" qte-input required="true"  ng-model="item.qte"></div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="onCancel()">
        Annuler
      </md-button>
      <md-button ng-click="onValid(item)">
        Valider
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>