<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Mango (Fruit)</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-list ng-cloak>
        <md-list-item class="md-2-line" ng-repeat="it in items" ng-click="onSelect(it)">
            <div class="md-list-item-text">
                <h3> {{ it.lib }} </h3>
                <p> {{ it.desc }} </p>
            </div>
        </md-list-item>
      </md-list>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="onCancel()">
        Annuler
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>