<md-dialog class="rule-dialog" style="width:500px;">
  <form ng-cloak>
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <h2>Veuillez sélectionner la nouvelle règle</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="onCancel()">
          <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div layout-gt-sm="row">
        <md-input-container class="md-inline" flex>
          <md-select placeholder="Sélection règle" ng-model="newRule">
                <md-option ng-repeat="r in rules" ng-value="r">
                    {{r.lib}}
                </md-option>
            </md-select>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="onCancel()">
        Annuler
      </md-button>
      <md-button ng-click="onValid(newRule)">
        Valider
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>