#dpMap{
    li {
        list-style: none;
        display: inline-block;
    }
}

#grid1 {
    min-height: 300px;
    .md-icon-button {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}
