<div id="editClient" class="page-layout simple fullwidth  doc-page element-doc-page">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div form-head-ico-title layout="row" layout-align="start center"></div>  
        <div edit-form-heads-buttons  class="right-side layout-row" layout="row" layout-align="start center"></div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content" md-background-bg layout="row" layout-align="start start">
        <form name="current.userForm"  layout-fill>
            <md-tabs  layout-fill flex md-border-bottom md-selected="$scope.data.selectedIndex">
                <md-tab label="Informations principales"  layout-fill>
                    <md-tab-content class="inputs"   ms-scroll md-background-bg md-theme="docs-dark"   flex layout-fill layout-padding>
                        <div style="width:100%;">
                            <div layout-gt-sm="row">  
                                <md-input-container class="md-inline" flex-gt-sm>
                                <md-checkbox ng-model="item.actif" aria-label="Actif">
                                    Actif
                                </md-checkbox>
                                </md-input-container>
                                <md-input-container  class="md-input-invalid" class="md-inline" flex-gt-sm>
                                    <label>Marché</label>
                                    <md-select  required ng-model="item.marches" style="min-width:200px;">
                                        <md-option ng-value="0">
                                            Local/Export
                                        </md-option>
                                        <md-option ng-value="1">
                                            Local
                                        </md-option>
                                        <md-option ng-value="2">
                                            Export
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-inline" flex-gt-sm>
                                    <label>Nom</label>
                                    <input required ng-model="item.name">
                                </md-input-container>
                                <md-input-container class="md-inline" flex-gt-sm>
                                    <label>Prénom</label>
                                    <input ng-model="item.surn">
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-inline" flex-gt-sm>
                                    <label>Code client</label>
                                    <input ng-model="item.code">
                                </md-input-container>
                                <md-input-container class="md-inline" flex-gt-sm>
                                    <label>Adresse</label>
                                    <input ng-model="item.adresse">
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-inline" flex-gt-sm>
                                    <label>Code Postal</label>
                                    <input ng-model="item.adresse_cp">
                                </md-input-container>

                                <md-input-container class="md-inline" flex-gt-sm>
                                    <label>Ville</label>
                                    <input ng-model="item.adresse_ville">
                                </md-input-container>
                            </div>                         
                            <div layout-gt-sm="row">
                                <md-input-container class="md-inline" flex-gt-sm>
                                    <label>Email</label>
                                    <input type="email" ng-model="item.email">
                                </md-input-container>
                                <md-input-container class="md-inline" flex-gt-sm>
                                    <label>Téléphone portable</label>
                                    <input type="text" ng-model="item.mobPhone">
                                </md-input-container>
                            </div>   
                        </div>
                    </md-tab-content>
                </md-tab>
                <md-tab label="Bons à facturer" layout-fill>
                    <md-tab-body layout-fill  md-theme="docs-dark" style="width:100%;height:100%;">
                        <md-content flex layout-fill layout="column" style="overflow:hidden;">
                            <div id="gridBons" style="display:block;" ui-grid-selection  ui-grid-edit ui-grid-pagination layout-fill ui-grid="gridBons"  class="grid"></div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab label="Factures" layout-fill>
                    <md-tab-body layout-fill  md-theme="docs-dark" style="width:100%;height:100%;">
                        <md-content flex layout-fill layout="column" style="overflow:hidden;">
                            <div id="gridFactures" style="display:block;"  ui-grid-edit ui-grid-pagination layout-fill ui-grid="gridFactures"  class="grid"></div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </form>
    </div>       
</div>