<div id="prodedit" class="page-layout simple fullwidth  doc-page element-doc-page">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div form-head-ico-title layout="row" layout-align="start center"></div>  
        <div edit-form-heads-buttons  class="right-side layout-row" layout="row" layout-align="start center"></div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content" md-background-bg layout="row" layout-align="start start">
       <form name="current.userForm"  ng-submit="valid()" layout-fill  autocomplete="off">
          <md-tabs  layout-fill flex md-border-bottom md-selected="$scope.data.selectedIndex">
            <md-tab layout-fill label="Informations principales">
              <md-tab-content class="inputs" md-background-bg md-theme="docs-dark"   flex layout-fill layout-padding ms-scroll>
                <div style="width:100%;">
                    <div layout-gt-sm="row">
                      <md-input-container class="md-inline" flex-gt-sm>
                        <label>Libellé</label>
                        <input required ng-model="item.lib">
                      </md-input-container>
                      <md-input-container class="md-inline" flex-gt-sm>
                        <label>Code produit</label>
                        <input required ng-model="item.codeProd">
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                      <md-input-container class="md-inline" flex-gt-sm>
                        <label>Produit parent</label>
                        <input required ng-model="item.parent.lib" readonly ng-click="vm.showParentsDialog($event)">
                      </md-input-container>
                       <div class="md-inline" qte-input inprequired="true"  ng-model="item.rendement" flex="50"></div>
                      
                    </div>
                    <div layout-gt-sm="row">
                     
                      <md-input-container class="md-inline" flex-gt-sm>
                        <label>Couleur du produit</label>
                        <color-picker style="display:inline;" options="vm.cpOptions" ng-model="item.color"></color-picker>
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                      <md-input-container class="md-inline" flex-gt-sm>
                        <label>Decription</label>
                        <textarea ng-model="item.desc" rows="5"></textarea>
                      </md-input-container>
                    </div>
                </div>
              </md-tab-content>
            </md-tab>
            <md-tab label="Règles" layout-fill  ng-if="item._id && item.rendement" >
              <md-tab-content  md-theme="docs-dark"   flex layout-fill>
                <md-button class="md-icon-button md-primary" ng-click="addRule()" style="position:absolute;z-index:8;" aria-label="Settings">
                    <md-icon md-font-icon="icon-plus"></md-icon>
                </md-button>
                    <datatable-wrapper>
                        <table class="dataTable row-border hover" style="height:100%;" flex layout-fill  datatable="ng" dt-instance="vm.dtInstance"
                                dt-options="vm.dtOptions">
                            <thead>
                                <tr>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Libellé</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Délai avant récolte</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Semaines de récolte</span>
                                        </div>
                                    </th>
                                    
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Actions</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="il in vm.rules track by $index">
                                    <td>{{il.lib}}</td>
                                    <td>{{il.delai}}</td>
                                    <td>{{il.nbWeek}}</td>
                                    <td>
                                        <md-button class="md-icon-button" aria-label="Settings" ng-click="addRule($event,il)"><md-tooltip>Editer</md-tooltip><md-icon class="edit" md-font-icon="icon-table-edit"></md-icon></md-button>
                                        <md-button class="md-icon-button" aria-label="Settings" ng-click="removeRule($event,il)"><md-tooltip>Supprimer</md-tooltip><md-icon class="rem" md-font-icon="icon-table-row-remove"></md-icon></md-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </datatable-wrapper>
              </md-tab-content>
            </md-tab>
           
            <md-tab layout-fill label="Objectif" ng-if="item._id">
              <md-tab-content class="inputs" md-background-bg md-theme="docs-dark"   flex layout-fill layout-padding>
                <div style="width:100%;">
                    <objectif-line  ng-repeat="m in vm.mois" >
                    </objectif-line>
                </div>
              </md-tab-content>
            </md-tab>
          </md-tabs>
        </form>
      </div>
    </div>
    <div style="visibility: hidden">
      <div class="md-dialog-container" id="ParentsDialog">
        <md-dialog layout-padding>
          <h2>Pre-Rendered Dialog</h2>
          <p>
            This is a pre-rendered dialog, which means that <code>$mdDialog</code> doesn't compile its
            template on each opening.
            <br/><br/>
            The Dialog Element is a static element in the DOM, which is just visually hidden.<br/>
            Once the dialog opens, we just fetch the element from the DOM into our dialog and upon close
            we restore the element back into its old DOM position.
          </p>
        </md-dialog>
      </div>
    </div>
</div>