<div id="prodedit" class="page-layout simple fullwidth  doc-page element-doc-page">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div form-head-ico-title layout="row" layout-align="start center"></div>  
        <div edit-form-heads-buttons  class="right-side layout-row" layout="row" layout-align="start center"></div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content" md-background-bg layout="row" layout-align="start start">
       <form name="current.userForm"  ng-submit="valid()" layout-fill  autocomplete="off">
          <md-tabs  layout-fill flex md-border-bottom md-selected="$scope.data.selectedIndex">
            <md-tab layout-fill label="Informations principales">
              <md-tab-content class="inputs" md-background-bg md-theme="docs-dark"   flex layout-fill layout-padding>
                <div style="width:100%;">
                    <div layout-gt-sm="row">
                      <md-input-container class="md-inline" flex-gt-sm>
                        <label>Libellé</label>
                        <input required ng-model="item.lib">
                      </md-input-container>
                      <md-input-container class="md-inline" flex-gt-sm>
                        <color-picker style="display:inline;" options="vm.cpOptions" ng-model="item.color"></color-picker>
                      </md-input-container>
                    </div>
                    
                    <div layout-gt-sm="row">
                      <md-input-container class="md-inline" flex-gt-sm>
                          
                        <label>Decription</label>
                        <textarea ng-model="item.desc" rows="5"></textarea>
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                      <md-input-container class="md-inline" flex-gt-sm>
                        <md-checkbox
                          ng-model="item.public"
                          aria-label="Données publiques" 
                          ng-true-value="true"
                          ng-false-value="false"
                          class="md-warn md-align-top-left" flex>
                        Les données de ce produit sont publiques
                      </md-checkbox>
                      </md-input-container>
                    </div>
                </div>
              </md-tab-content>
            </md-tab>
             <md-tab layout-fill label="Informations spécifiques" ng-if="item._id">
              <md-tab-content class="inputs" md-background-bg md-theme="docs-dark"   flex layout-fill layout-padding>
                <div style="width:100%;">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-inline" flex-gt-sm>
                        <label>Code produit</label>
                        <input ng-model="">
                      </md-input-container>
                      <md-input-container class="md-inline" flex-gt-sm>
                        <label>Rendement à l'hectare</label>
                        <input type="number" ng-model="">
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-inline" flex-gt-sm>
                        <label>Produit parent</label>
                        <input ng-model="">
                      </md-input-container>
                      <md-input-container class="md-inline" flex-gt-sm>
                        
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                      <md-input-container class="md-inline" flex-gt-sm>
                          
                        <label>Notes</label>
                        <textarea ng-model="item.desc" rows="5"></textarea>
                      </md-input-container>
                    </div>
                </div>
              </md-tab-content>
            </md-tab>
            <md-tab label="Règles" layout-fill  ng-if="item._id" >
              <md-tab-content  md-theme="docs-dark"   flex layout-fill>
                <md-button class="md-icon-button md-primary" ng-click="addRule()" style="position:absolute;z-index:8;" aria-label="Settings">
                    <md-icon md-font-icon="icon-plus"></md-icon>
                </md-button>
                    <datatable-wrapper>
                        <table class="dataTable row-border hover" style="height:100%;" flex layout-fill  datatable="ng" dt-instance="vm.dtInstance"
                                dt-options="vm.dtOptions">
                            <thead>
                                <tr>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Libellé</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Surface</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Actions</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="il in vm.rules track by $index">
                                    <td>{{il.lib}}</td>
                                    <td>{{il.surface}}</td>
                                    <td>
                                        <md-button class="md-icon-button" aria-label="Settings" ng-click="addRule(il)"><md-tooltip>Editer</md-tooltip><md-icon class="edit" md-font-icon="icon-table-edit"></md-icon></md-button>
                                        <md-button class="md-icon-button" aria-label="Settings" ng-click="removeRule(il)"><md-tooltip>Supprimer</md-tooltip><md-icon class="rem" md-font-icon="icon-table-row-remove"></md-icon></md-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </datatable-wrapper>
              </md-tab-content>
            </md-tab>
           
            <md-tab layout-fill label="Objectif" ng-if="item._id">
              <md-tab-content class="inputs" md-background-bg md-theme="docs-dark"   flex layout-fill layout-padding>
                <div style="width:100%;">
                    <objectif-line  ng-repeat="m in vm.mois" >
                    </objectif-line>
                </div>
              </md-tab-content>
            </md-tab>
          </md-tabs>
        </form>
      </div>
    </div>
</div>