<div id="listPlanifs" class="page-layout simple left-sidenav inner-sidenav">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between center">
        <div form-head-ico-title-with-sideb layout="row" layout-align="start center"></div> 
        <div list-head-buttons class="right-side layout-row" layout="row" layout-align="start center"></div>  
    </div>
    <!-- / HEADER -->
    <div class="content" md-background-bg layout="row"  ms-scroll>
        
        <md-sidenav class="sidenav main-sidenav md-white-bg" md-is-locked-open="$mdMedia('gt-md')" id="sidenav" md-component-id="sidenav" ms-scroll
                    ms-sidenav-helper>
            <md-content class="content" ms-scroll>
                <md-list ng-cloak>
                    <md-subheader class="md-no-sticky">Dates</md-subheader>
                    <md-list-item>
                        <p>Du</p>
                        <md-datepicker class="md-secondary" ng-model="vm.filters.dateFrom" ng-change="loadPageAction(1)" md-placeholder="Enter date"></md-datepicker>
                    </md-list-item>
                    <md-list-item>
                        <p>Au</p>
                        <md-datepicker class="md-secondary" ng-model="vm.filters.dateTo" ng-change="loadPageAction(1)" md-placeholder="Enter date"></md-datepicker>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">Produits</md-subheader>
                    <md-list-item>
                        <md-autocomplete ckass="autoc-filter"
                            md-selected-item="vm.filters.produits.selectedItem" 
                            md-search-text="vm.filters.produits.searchText"
                            md-items="item in querySearch(vm.filters.produits.searchText,1)"
                            md-item-text="item.lib"
                            placeholder="Premiers charactères..."
                            md-selected-item-change="vm.filters.produits.change(item)">
                            <md-item-template>
                                <span class="item-title">
                                    <!--icon-cube-unfolded-->
                                    <md-icon md-font-icon="icon-cube-outline" style="color:{{item.color}}"></md-icon>
                                    <span> {{item.codeProd}} - {{item.lib}} </span>
                                </span>
                            </md-item-template>
                        </md-autocomplete>
                    </md-list-item>
                    <md-list-item ng-repeat="p in vm.filters.produits.selectedItems" tag-bg item="p">
                        <p> {{ p.codeProd }} - {{ p.lib }} </p>
                        <md-icon class="md-secondary" ng-click="vm.removeProduit(p._id)" aria-label="Remove"  md-font-icon="icon-close"></md-icon>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">Producteurs</md-subheader>
                    <md-list-item>
                        <md-autocomplete ckass="autoc-filter"
                            md-selected-item="vm.filters.producteurs.selectedItem" 
                            md-search-text="vm.filters.producteurs.searchText"
                            md-items="item in querySearch(vm.filters.producteurs.searchText,2)"
                            md-item-text="item.codeAdh + ' - ' + item.name + ' ' + item.surn"
                            placeholder="Premiers charactères..."
                            md-selected-item-change="vm.filters.producteurs.change(item)">
                            <md-item-template>
                                <span class="item-title">
                                    <!--icon-cube-unfolded-->
                                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                                    <span>{{item.codeAdh}} - {{item.name}} {{item.surn}}</span>
                                </span>
                            </md-item-template>
                        </md-autocomplete>
                    </md-list-item>
                    <md-list-item ng-repeat="p in vm.filters.producteurs.selectedItems">
                        <p> {{p.codeAdh}} - {{p.name}} {{p.surn}} </p>
                        <md-icon class="md-secondary" ng-click="vm.removeProducteur(p._id)" aria-label="Remove"  md-font-icon="icon-close"></md-icon>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item style="padding-top:20px;padding-bottom:20px;">
                        <md-menu>
                            <md-button class="md-accent md-raised md-button grouped-actions" aria-label="" ng-click="vm.openMenu($mdOpenMenu,$event)">
                                Actions groupées
                                <md-icon md-font-icon="icon-ruler" md-menu-align-target></md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                <md-button ng-click="vm.groupChangeRule()" ng-disabled="(vm.filters.produits.selectedItems.length!=1) || (items.length <= 0)">
                                    <md-icon md-font-icon="icon-ruler" md-menu-align-target></md-icon>
                                    Modifier règle
                                </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                <md-button ng-click="vm.groupDupDec('dec')" ng-disabled="(items.length <= 0)">
                                    <md-icon md-font-icon="icon-arrow-all" md-menu-align-target></md-icon>
                                    Décaler dates
                                </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                <md-button ng-click="vm.groupDupDec('dup')" ng-disabled="(items.length <= 0)" >
                                    <md-icon md-font-icon="icon-content-copy" md-menu-align-target></md-icon>
                                    Dupliquer
                                </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-list-item>
                </md-list>
                
            </md-content>

            

        </md-sidenav>

        <md-content class="content" layout="column" flex style="overflow:hidden;">   
            <div id="grid1"  flex layout-fill ui-grid-pagination  layout="column"  ui-grid="gridOptions"  class="grid"></div>
        </md-content> 
    </div>
    <!-- / CONTENT -->

</div>