<div class="logo" layout="row" layout-align="start center">
    <md-button class="md-icon-button sidenav-toggle" hide-gt-md ng-click="toggleSidenav('sidenav')"
                aria-label="Toggle sidenav" translate translate-attr-aria-label="CONTACTS.TOGGLE_SIDENAV">
        <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
    </md-button>
    <span class="logo-icon">
        <md-icon md-font-icon="{{head.ico}}" class="s24"></md-icon>
    </span>
    <span class="logo-text">{{head.title}}</span>
</div>