<div id="listUsers" class="page-layout simple left-sidenav inner-sidenav">
<!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between center">
        <div form-head-ico-title-with-sideb layout="row" layout-align="start center"></div> 
        <div list-head-buttons class="right-side layout-row" layout="row" layout-align="start center"></div>  
    </div>
    <!-- / HEADER -->
    <div class="content" md-background-bg layout="row"  ms-scroll>
        <md-sidenav class="sidenav main-sidenav md-white-bg" md-is-locked-open="$mdMedia('gt-md')" id="sidenav" md-component-id="sidenav" ms-scroll
                    ms-sidenav-helper>
            <md-content class="content" ms-scroll>
                <md-list ng-cloak>
                    <md-subheader class="md-no-sticky">Filtre texte</md-subheader>
                    <md-list-item>
                        <input type="text" ng-model="vm.filters.text" ng-change="loadPage()" placeholder="Premiers charactères..."/>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">Niveaux de droits</md-subheader>
                    <md-list-item ng-repeat="l in vm.filters.levels" tag-bg item="p">
                        <span class="status {{getUserBg($index+1)}}">{{l.lib}}</span>
                        <md-checkbox class="md-secondary" ng-model="l.checked" ng-change="loadPage()"></md-checkbox>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-content class="content" style="width:100%;overflow:hidden;" flex>   
            <div id="grid1" flex layout-fill ui-grid-pagination layout="column"  ui-grid="gridOptions"  class="grid"></div>
            </md-content>
        </div>
    </div>
</div>