<div id="editBon" class="page-layout simple fullwidth  doc-page element-doc-page">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div form-head-ico-title layout="row" layout-align="start center"></div>  
        <div edit-form-heads-buttons  class="right-side layout-row" layout="row" layout-align="start center"></div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content" md-background-bg layout="row" layout-align="start start">
        <form name="current.userForm"  layout-fill>
            <md-tabs  layout-fill flex md-border-bottom md-selected="$scope.data.selectedIndex">
                <md-tab label="Informations principales"  layout-fill>
                    <md-tab-content class="inputs"   ms-scroll md-background-bg md-theme="docs-dark"   flex layout-fill layout-padding>
                            <div style="width:100%;">
                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-inline formDateInput" flex>
                                            <h4>Date document</h4>
                                            <md-datepicker ng-model="item.dateDoc"></md-datepicker>
                                        </md-input-container>
                                        <md-input-container  class="md-input-invalid" class="md-inline" flex-gt-sm>
                                            <label>Destination</label>
                                            <md-select  required ng-model="item.destination" style="min-width:200px;">
                                                <md-option><em>None</em></md-option>
                                                <md-option value="local">
                                                    Local
                                                </md-option>
                                                <md-option value="export">
                                                    Export
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>N° bon</label>
                                            <input type="text" ng-model="item.numBon">
                                        </md-input-container>
                                        <md-autocomplete flex required 
                                            md-input-name="autocompleteField"
                                            md-input-minlength="2"
                                            md-input-maxlength="100"
                                            md-no-cache="ctrl.noCache"
                                            md-selected-item="item.client"
                                            md-search-text="item.clientSearch"
                                            md-items="item in querySearch(item.clientSearch,3)"
                                            md-item-text="item.code + ' - ' + item.name" 
                                            md-require-match 
                                            md-floating-label="Sélection client"
                                            md-selected-item-change="vm.clientChange(item)">
                                        <md-item-template>
                                            <span md-highlight-text="item.clientSearch">{{item.code}} - {{item.name}}</span>
                                        </md-item-template>
                                        <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                                            <div ng-message="required">You <b>must</b> have a favorite state.</div>
                                            <div ng-message="md-require-match">Please select an existing state.</div>
                                            <div ng-message="minlength">Your entry is not long enough.</div>
                                            <div ng-message="maxlength">Your entry is too long.</div>
                                        </div>
                                        </md-autocomplete>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container ng-if="item.destination == 'export'" class="md-block" flex-gt-sm>
                                            <label>N° LTA</label>
                                            <input required type="text" ng-model="item.noLta">
                                        </md-input-container>  
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>N° lot</label>
                                            <input type="text" ng-model="item.noLot">
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-autocomplete flex required 
                                            md-input-name="autocompleteField"
                                            md-input-minlength="2"
                                            md-input-maxlength="100"
                                            md-no-cache="ctrl.noCache"
                                            md-selected-item="item.station"
                                            md-search-text="item.stationSearch"
                                            md-items="item in querySearch(item.stationSearch,1)"
                                            md-item-text="item.code + ' - ' + item.lib"
                                            md-require-match
                                            md-floating-label="Sélection station"
                                            md-selected-item-change="vm.stationChange(item)">
                                        <md-item-template>
                                            <span md-highlight-text="item.stationSearch">{{item.code}} - {{item.lib}}</span>
                                        </md-item-template>
                                        <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                                            <div ng-message="required">You <b>must</b> have a favorite state.</div>
                                            <div ng-message="md-require-match">Please select an existing state.</div>
                                            <div ng-message="minlength">Your entry is not long enough.</div>
                                            <div ng-message="maxlength">Your entry is too long.</div>
                                        </div>
                                        </md-autocomplete>
                                        <md-autocomplete flex required
                                            md-input-name="autocompleteField"
                                            md-input-minlength="2"
                                            md-input-maxlength="100"
                                            md-no-cache="ctrl.noCache"
                                            md-selected-item="item.producteur"
                                            md-search-text="item.producteurSearch"
                                            md-items="item in querySearch(item.producteurSearch,2)"
                                            md-item-text="item.codeAdh + ' - ' + item.name + ' ' + item.surn"
                                            md-require-match
                                            md-floating-label="Sélection producteur"
                                            md-selected-item-change="vm.producteurChange()">
                                            
                                        <md-item-template>
                                            <span md-highlight-text="item.producteurSearch">{{item.codeAdh}} - {{item.name}} {{item.surn}}</span>
                                        </md-item-template>
                                        <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                                            <div ng-message="required">You <b>must</b> have a favorite state.</div>
                                            <div ng-message="md-require-match">Please select an existing state.</div>
                                            <div ng-message="minlength">Your entry is not long enough.</div>
                                            <div ng-message="maxlength">Your entry is too long.</div>
                                        </div>
                                        </md-autocomplete>
                                    </div>
                                    
                            </div>
                    </md-tab-content>
                </md-tab>
                <md-tab label="produits" layout-fill>
                    <md-tab-body layout-fill  md-theme="docs-dark" style="width:100%;height:100%;">
                        <md-content flex layout-fill layout="column" style="overflow:hidden;">
                            <div id="gridProduits" style="display:block;"  ui-grid-edit layout-fill ui-grid="gridProduits"  class="grid"></div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab label="Documents" layout-fill>
                    <md-tab-body layout-fill  md-theme="docs-dark" style="width:100%;height:100%;">
                        <md-content flex layout-fill layout="column" style="overflow:hidden;">
                            <div id="exportthis">

                            </div>
                            <md-button class="md-button md-primary" ng-click="doReport('ba')">
                                <md-tooltip>Générer bon d'apport</md-tooltip>
                                <md-icon md-font-icon="icon-plus"></md-icon>
                                Bon d'apport
                            </md-button>
                            <!--<md-button class="md-button md-primary" ng-click="doReport('bl')">
                                <md-tooltip>Générer bon de livraison</md-tooltip>
                                <md-icon md-font-icon="icon-plus"></md-icon>
                                Bon de livraison
                            </md-button>
                            <md-button class="md-button md-primary" ng-click="docFact('ff')">
                                <md-tooltip>Générer facture client</md-tooltip>
                                <md-icon md-font-icon="icon-plus"></md-icon>
                                Facture client
                            </md-button>
                            <md-button class="md-button md-primary" ng-click="dopFact('ff')">
                                <md-tooltip>Générer facture client</md-tooltip>
                                <md-icon md-font-icon="icon-plus"></md-icon>
                                Facture producteur
                            </md-button>-->
                        </md-content>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </form>
    </div>
    <!-- / CONTENT -->

    <md-sidenav id="chat-app" class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
        <!-- CHAT CONTENT -->
                <md-content id="chat-content" flex ms-scroll>

                    <!-- CHAT MESSAGES -->
                    <div class="chat-messages">

                        <!-- MESSAGE -->
                        <div layout="row" class="md-padding message-row contact"
                             ng-class="dialog.who">

                            <img ng-if="dialog.who ==='contact'"
                                 ng-src="{{vm.contacts.getById(vm.chatContactId).avatar}}"
                                 class="avatar"
                                 alt="{{vm.contacts.getById(vm.chatContactId).name}}"/>

                            <img ng-if="dialog.who ==='user'" class="avatar" ng-src="{{vm.user.avatar}}">

                            <div class="bubble">
                                <div class="message">{{curMessage.message}}</div>
                                <div class="time secondary-text">{{dialog.time | altDate}}</div>
                            </div>

                        </div>
                        <div layout="row" class="md-padding message-row user"
                             ng-class="dialog.who">

                            <img ng-if="dialog.who ==='contact'"
                                 ng-src="{{vm.contacts.getById(vm.chatContactId).avatar}}"
                                 class="avatar"
                                 alt="{{vm.contacts.getById(vm.chatContactId).name}}"/>

                            <img ng-if="dialog.who ==='user'" class="avatar" ng-src="{{vm.user.avatar}}">

                            <div class="bubble">
                                <div class="message">{{curMessage.reply}}</div>
                                <div class="time secondary-text">{{dialog.time | altDate}}</div>
                            </div>

                        </div>
                        <!-- / MESSAGE -->

                    </div>
                    <!-- CHAT MESSAGES -->

                </md-content>
    </md-sidenav>
</div>