/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
body {
    zoom:100%;
}

md-tab-content.inputs {background-color: #fff;}

md-icon.edit{
    color:#66BB6A!important;
}
md-icon.rem{
    color:#EF5350!important;
}
md-icon.prevs{
    color:#2196F3!important;
}
form {
    font-size: 1.2rem;
}
md-input-container .md-errors-spacer {
    min-height: 0;
}
.md-tab{font-size: 12px;}
.widget-head {
    font-size: 1.6rem;
    font-weight: 400;
}
.badge.mbadge {
    position: absolute;
    top: 50%;
    right: 2px;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 0 7px;
    font-size: 11px;
    font-weight: 700;
    border-radius: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .2s ease-in-out .1s;
    transition: opacity .2s ease-in-out .1s;
}
.ui-grid-row, .ui-grid-cell, .ui-grid-cell .ui-grid-vertical-bar
{
    height: 30px !important;
}
.ui-grid-cell-contents button {
    margin-top: -10px !important;
}