<div class="top-row" layout="row" layout-align="space-between center">

    <div layout="row" layout-align="start center">
        <div class="navigation-toggle" hide-gt-sm>
            <md-button class="md-icon-button" ng-click="vm.toggleHorizontalMobileMenu()"
                       aria-label="Toggle Mobile Navigation">
                <md-icon md-font-icon="icon-menu"></md-icon>
            </md-button>
        </div>

        <div class="logo" layout="row" layout-align="start center">
            
            <span class="logo-image">
                <image src="assets/images/arifel-logo-long.png"></image>
            </span>
        </div>
    </div>

    <div layout="row" layout-align="start center">
        <md-progress-circular id="toolbar-progress" ng-if="$root.loadingProgress" class="md-accent"
                              md-mode="indeterminate" md-diameter="32">
        </md-progress-circular>

         
                <md-menu-item class="md-indent" ui-sref="app.mail">
                        
                        <a class="md-icon-button"><md-icon md-font-icon="icon-email" class="icon"></md-icon></a>
                    </md-menu-item>
        
        <div class="toolbar-separator"></div>
        <md-menu-bar id="user-menu">
            
            <md-menu md-position-mode="left bottom">
                

                <md-button class="user-button" ng-click="$mdOpenMenu()"
                           aria-label="User settings"
                           translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                    <div layout="row" layout-align="space-between center">
                        <div class="avatar-wrapper">
                            <img md-menu-align-target class="avatar" src="assets/images/avatars/profile.jpg">
                            <md-icon md-font-icon ng-class="vm.userStatus.icon"
                                     ng-style="{'color': vm.userStatus.color }"
                                     class="icon status s16">
                            </md-icon>
                        </div>
                        <span class="username" hide-sm>{{$root.user.name + ' ' + $root.user.surn}}</span>
                        <md-icon md-font-icon="icon-chevron-down"
                                 class="icon s16" hide-sm></md-icon>
                    </div>
                </md-button>

                <md-menu-content width="3">
                    <md-menu-item class="md-indent" ui-sref="app.pages_profile">
                        <md-icon md-font-icon="icon-account" class="icon"></md-icon>
                        <md-button>Mon profile</md-button>
                    </md-menu-item>

                    
                    <md-menu-divider></md-menu-divider>

                    <md-menu-item class="md-indent">
                        <md-icon md-font-icon="icon-logout" class="icon"></md-icon>
                        <md-button ng-click="vm.logout()">Logout</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>

    </div>
</div>