<md-dialog class="rule-dialog" aria-label="New Task">
    <form name="taskForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Ajout/modification règle</span>
                <md-button class="md-icon-button" ng-click="vm.close()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block">
                <label>Titre</label>
                <input name="title" ng-model="vm.rule.lib" required md-autofocus>
            </md-input-container>
            <div layout-xs="column" layout="row">
                <md-input-container flex class="md-block">
                    <label>Délai avant récolte (jours)</label>
                    <input type="number" ng-model="vm.rule.delai" required>
                </md-input-container>
                <md-input-container flex class="md-block">
                    <label>Durée récolte (semaines)</label>
                    <input type="number" ng-model="vm.rule.nbWeek" ng-change="vm.nbWeekChange()" required>
                </md-input-container>
            </div>
            <div class="attachment-list">
                <div ng-repeat="w in vm.rule.weeks" class="attachment" layout="row" layout-align="space-between center">
                    <div>
                        <span class="filename">Semaine {{w.week}}</span>  
                    </div>
                    <input type="number" ng-model="w.percent" ng-change="vm.recalc()" required>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
      <md-button ng-click="vm.close()">
        Annuler
      </md-button>
      <span ng-class="{'bad-percent':vm.badPercent,'good-percent':!vm.badPercent}">Total: {{vm.sumer | number : 2}}</span>
      <md-button type="submit" ng-click="vm.save()"
            class="send-button md-accent md-raised"
            ng-disabled="taskForm.$invalid || taskForm.$pristine"
            aria-label="Valider">
                    Valider
                </md-button>
    </md-dialog-actions>


       
    </form>
</md-dialog>