<md-input-container style="width:80%;" >
    <label>Volume à l'hectare</label>
    <input type="number" ng-required="inprequired" ng-model="value.value" ng-change="dataChange()" style="color:#000000 !important;">
    </md-input-container>
    <md-input-container  style="width:17%;float:right;">
        <label>Unité</label>
    <md-select ng-model="value.unit" ng-change="dataChange()">
        <md-option ng-value="u.id" ng-repeat="u in units">
            {{u.name}}    
        </md-option>
    </md-select>
    </md-input-container>