<div id="edit" class="page-layout simple left-sidenav inner-sidenav">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between center">
        <div form-head-ico-title-with-sideb layout="row" layout-align="start center"></div> 
        <div list-head-buttons class="right-side layout-row" layout="row" layout-align="start center"></div>  
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content" md-background-bg layout="row"  ms-scroll>

        <md-sidenav class="sidenav main-sidenav md-white-bg" md-is-locked-open="$mdMedia('gt-md')" id="sidenav" md-component-id="sidenav" ms-scroll
                    ms-sidenav-helper>
            <md-content class="content" ms-scroll>
                <md-list ng-cloak>
                    <md-subheader class="md-no-sticky">N° LTA</md-subheader>
                    <md-list-item>
                        <input type="text" ng-model="filters.lta" ng-change="refresh()" placeholder="Premiers charactères..."/>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">Dates</md-subheader>
                    <md-list-item>
                        <p>Du</p>
                        <md-datepicker class="md-secondary" ng-model="filters.dateFrom" ng-change="refresh()" md-placeholder="Enter date"></md-datepicker>
                    </md-list-item>
                    <md-list-item>
                        <p>Au</p>
                        <md-datepicker class="md-secondary" ng-model="filters.dateTo" ng-change="refresh()" md-placeholder="Enter date"></md-datepicker>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">Producteurs</md-subheader>
                    <md-list-item>
                        <md-autocomplete ckass="autoc-filter"
                            md-selected-item="filters.producteurs.selectedItem" 
                            md-search-text="filters.producteurs.searchText"
                            md-items="item in querySearch(filters.producteurs.searchText,2)"
                            md-item-text="item.name"
                            placeholder="Premiers charactères..."
                            md-selected-item-change="filters.producteurs.change(item)">
                            <md-item-template>
                                <span class="item-title">
                                    <!--icon-cube-unfolded-->
                                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                                    <span> {{item.codeAdh}} - {{item.name}} </span>
                                </span>
                            </md-item-template>
                        </md-autocomplete>
                    </md-list-item>
                    <md-list-item ng-repeat="p in filters.producteurs.selectedItems" tag-bg item="p">
                        <p> {{ p.codeAdh }} - {{ p.name }} </p>
                        <md-icon class="md-secondary" ng-click="filters.producteurs.remove(p._id)" aria-label="Remove"  md-font-icon="icon-close"></md-icon>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">Stations</md-subheader>
                    <md-list-item>
                        <md-autocomplete ckass="autoc-filter"
                            md-selected-item="filters.stations.selectedItem" 
                            md-search-text="filters.stations.searchText"
                            md-items="item in querySearch(filters.stations.searchText,3)"
                            md-item-text="item.name"
                            placeholder="Premiers charactères..."
                            md-selected-item-change="filters.stations.change(item)">
                            <md-item-template>
                                <span class="item-title">
                                    <!--icon-cube-unfolded-->
                                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                                    <span> {{item.code}} </span>
                                </span>
                            </md-item-template>
                        </md-autocomplete>
                    </md-list-item>
                    <md-list-item ng-repeat="p in filters.stations.selectedItems" tag-bg item="p">
                        <p> {{ p.code }} </p>
                        <md-icon class="md-secondary" ng-click="filters.stations.remove(p._id)" aria-label="Remove"  md-font-icon="icon-close"></md-icon>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">Produits</md-subheader>
                    <md-list-item>
                        <md-autocomplete ckass="autoc-filter"
                            md-selected-item="filters.produits.selectedItem" 
                            md-search-text="filters.produits.searchText"
                            md-items="item in querySearch(filters.produits.searchText,1)"
                            md-item-text="item.name"
                            placeholder="Premiers charactères..."
                            md-selected-item-change="filters.produits.change(item)">
                            <md-item-template>
                                <span class="item-title">
                                    <!--icon-cube-unfolded-->
                                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                                    <span> {{item.codeProd}} - {{item.lib}} </span>
                                </span>
                            </md-item-template>
                        </md-autocomplete>
                    </md-list-item>
                    <md-list-item ng-repeat="p in filters.produits.selectedItems" tag-bg item="p">
                        <p> {{ p.codeProd }} - {{p.lib}} </p>
                        <md-icon class="md-secondary" ng-click="filters.produits.remove(p._id)" aria-label="Remove"  md-font-icon="icon-close"></md-icon>
                    </md-list-item>
                </md-list>
                
            </md-content>

            

        </md-sidenav>

        <md-content class="content" style="width:100%;" ms-scroll>
            <md-tabs  layout-fill flex md-border-bottom md-selected="$scope.data.selectedIndex">
                <md-tab layout-fill label="Global" >
                    <md-tab-content class="inputs" md-background-bg md-theme="docs-dark" flex layout-fill  ms-scroll>
                        <stats-agrea-globals refresh-method="injectedObject"></stats-agrea-globals>
                    </md-tab-content>
                </md-tab>
                <md-tab layout-fill label="Produits" >
                    <md-tab-content class="inputs" md-background-bg md-theme="docs-dark" flex layout-fill  ms-scroll>
                        <stats-agrea-produits refresh-method="injectedObject"></stats-agrea-produits>
                    </md-tab-content>
                </md-tab>
                <md-tab layout-fill label="Producteurs" >
                    <md-tab-content class="inputs" md-background-bg md-theme="docs-dark" flex layout-fill  ms-scroll>
                         <stats-agrea-producteurs refresh-method="injectedObject"></stats-agrea-producteurs>
                    </md-tab-content>
                </md-tab>
                <md-tab layout-fill label="Stations" >
                    <md-tab-content class="inputs" md-background-bg md-theme="docs-dark" flex layout-fill  ms-scroll>
                         <stats-agrea-stations refresh-method="injectedObject"></stats-agrea-stations>
                    </md-tab-content>
                </md-tab>
            </md-tabs>



            
                    <!-- / WIDGET GROUP -->
            <!--<canvas id="bar" style="height:200px;" class="chart chart-bar"  
                colours="vm.barChart.colors" chart-data="vm.barChart.data" 
                chart-labels="vm.barChart.labels" chart-series="vm.barChart.series"></canvas>
                <nvd3 options="vm.options"  data="vm.data">
                </nvd3>-->
        </md-content>
    </div>
    <!-- / CONTENT -->
</div>