<md-button class="md-fab  md-primary" ng-if="!head.btadd && !(head.btadd == false)" aria-label="Eat cake" style="float:right;" ng-click="add()">
    <md-tooltip>Nouveau</md-tooltip>
    <md-icon md-font-icon="icon-plus" class="icon s32"></md-icon>
</md-button>
<md-button class="md-fab  md-primary" id="uploadButton" ng-if="!head.btimport && !(head.btimport == false)" aria-label="Eat cake" style="float:right;" ng-click="upBtClicked()">
    <md-tooltip>Importer</md-tooltip>
    <md-icon md-font-icon="icon-import" class="icon s32"></md-icon>
</md-button>
<md-button class="md-fab  md-primary" ng-if="!head.btexport && !(head.btexport == false)" aria-label="Eat cake" style="float:right;" ng-click="export()">
    <md-tooltip>Exporter</md-tooltip>
    <md-icon md-font-icon="icon-export" class="icon s32"></md-icon>
</md-button>
<input id="fileInput" class="ng-hide"  onchange="angular.element(this).scope().import(this)" name="fileInput" type="file"  ng-model="fileInput" file-model="fileInput"/>